*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.Container{
    height: 3rem;
    width: 100%;
    background-image: linear-gradient(
        #757f9a,
        #d7dde8);
}
.Container h3{
    text-align: center;
    padding-top: 10px;
    font-size: 1.7rem;
}
.Container h3:hover{
    text-decoration: underline;
    color: aliceblue;
}